/* Nuevo CSS para el efecto 3D en tarjetas de producto */
.grid > div:hover {
    /* Mantiene el shadow-xl existente */
    transform: perspective(1000px) rotateX(2deg) rotateY(2deg) scale(1.02);
    /* Ajusta la transición para que el efecto se vea suave */
    transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
    box-shadow: 0 10px 30px rgba(105, 110, 255, 0.4); /* Sombra más pronunciada en hover */
}

/* Nuevo CSS para el focus de formulario de neón */
input:focus, textarea:focus {
    /* Sobrescribir el anillo de Tailwind por un box-shadow de color */
    outline: none !important;
    box-shadow: 0 0 0 2px #3128d9, 0 0 10px #46dbef; /* Morado claro y fucsia */
    border-color: #46ef70;
}